.record
  %span.name
    = message.user.name
  %span.date
    = format_posted_time(message.created_at)
  .text
    - if message.content.present?
      %p.lower-message__content
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
