$width-side-bar: 320px;
$padding-container-row: 20px;
$height-message-tools: 60px;
$font-size-large: 1.5rem;
$font-size-medium: 1.2rem;
$font-size-small: 0.8rem;

.messages-page {
  @extend .styled-flex-wrapper;
}

.status-bar {
  @extend .styled-card;
  box-sizing: border-box;
  position: absolute;
  height: 5vh;
  line-height: 5vh;
  padding: 0 15px;
  font-size: 0.8rem;

  &.notice {
    background: $color-light;
  }
}

@keyframes hidden{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

.hidden-with-animation {
  display: none;
  animation: hidden 2s linear 0s;
}

.side-bar-container {
  @extend .styled-card;
  float: left;
  box-sizing: border-box;
  height: 100vh;
  width: $width-side-bar;
  padding: 20px $padding-container-row;
  background: $color-dark;

  hr {
    margin-bottom: 30px;
  }
}

.information {
  height: 20vh;
  line-height: 20vh;

  .name {
    font-size: $font-size-medium;
  }

  span {
    font-size: $font-size-large;
    margin: 0 3px;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}

.group-list {
  overflow: auto;
  height: 60vh;
  .group {
    margin: 5px 0;
    padding: 5px 0;
    display: block;

    .last-message {
      margin-left: 5px;
      color: $color-white;
      font-size: $font-size-small;
    }

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}

.content-container {
  box-sizing: border-box;
  height: 100vh;
  flex: 1;
}

.group-information {
  @extend .styled-flex-wrapper;
  @extend .between;
  height: 20vh;
  box-sizing: border-box;
  padding: 20px 20px 0;

  .title {
    font-size: $font-size-large;
  }

  .action {
    button {
      margin-right: 10px;
    }
  }
}

.records {
  overflow: auto;
  box-sizing: border-box;
  padding: 15px $padding-container-row;
  height: 80vh;
  padding-bottom: $height-message-tools;

  .record {
    border-bottom: 1px solid $color-gray;
    width: 60%;
    padding: 10px 20px;
    margin: 10px 5px;

    .date,
    .name {
      font-size: $font-size-small;
    }

    .text {
      min-height: 40px;
    }

    .lower-message__image {
      width: 200px;
      height: 200px;
      object-fit: cover;
    }
  }
}

.message-tools {
  @extend .styled-card;
  width: 100%;
  position: relative;
  margin: 0 3px;
  box-sizing: border-box;
  padding: 10px $padding-container-row;
  border-radius: 5px;
  height: $height-message-tools;
  top: -$height-message-tools;
  line-height: 10vh;
  background: $color-gray;

  form {
    width: 100%;
    height: 40px;
    line-height: 40px;
  }

  .input__message {
    width: 75%;
    font-size: $font-size-medium;
  }

  .input__mask {
    width: 5%;
    display: inline-block;
    text-align: center;
    label:hover {
      cursor: pointer;
    }
  }

  .input__submit {
    width: 15%;
    background: $color-primary;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}
